Google/
google-chrome/
chromium/
gh/
notes/
obsidian/
.hyprland/
github-copilot
.bash_history
.bash_logout
.bash_profile
.bash_profile.save
.bash_profile.save.1
.emulator_console_auth_token
.flutter
.viminfo
.gitconfig
user-dirs.locale
user-dirs.dirs
pavucontrol.ini
mimeapps.list
konsolesshconfig
konsolerc
